@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: black;
  width: 300px;
  height: 300px;
}

.title {
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: 10px 0;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.record-column {
  height: 100px;
  max-height: 100px;
  overflow-y: scroll;
}
.timestamp {
  width: 200px;
  margin: 0 auto;

  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.record-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
li {
  list-style: none;
  margin-right: 13px;
}
li span {
  font-weight: 600;
  color: #fff;
}

.btn-column {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.start-btn {
  padding: 25px;
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: 0 0 5px 2px green;
  color: #fff;
  font-weight: 600;
  background-color: green;
  opacity: 0.9;
}
.stop-btn {
  padding: 25px;
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: 0 0 5px 2px red;
  color: #fff;
  font-weight: 600;
  background-color: red;
  opacity: 0.9;
}

.lab-btn {
  padding: 25px 30px;
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: 0 0 5px 2px gray;
  color: #fff;
  font-weight: 600;
  background-color: gray;
  opacity: 0.9;
}
.reset-btn {
  padding: 25px 18px;
  border-radius: 50%;
  border: 2px solid gray;
  box-shadow: 0 0 5px 2px #353b48;
  color: #fff;
  font-weight: 600;
  background-color: #353b48;
  opacity: 0.9;
}
