@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url(nav.css);
@import url(banner.css);
@import url(section.css);
@import url(footer.css);

* {
  box-sizing: border-box;
}
body {
  font-family: Pretendard;
  height: 3100px;
  line-height: 1.4;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.logo {
  width: 141px;
  height: 23px;
  margin-left: 32px;
  margin-right: 42px;
}
