* {
    background-color: black;
    color: aliceblue;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.timeStamp {
    display: flex;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 1000;
}

.hour, .min, .sec {
    display: flex;
    justify-content: center;
    width: 90px;
}

.control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

.ball {
    display: inline-block;
    border: 2px solid black;
    border-radius: 50%;
    background: rgba(56, 55, 55, 0.8);
    width: 50px;
    height: 50px;
    line-height: 40px;
    font-size: 17px;
    text-align: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.startButton {
    background-color: rgba(25, 176, 68, 0.5);
    color: rgb(113, 252, 48);
}

.stopButton {
    background-color: rgba(255, 16, 16, 0.3);
    color: rgb(250, 49, 49);
}

.lab_list {
    display: flex;
    flex-direction: column-reverse;
    font-size: 15px;
    font-weight: 500;
}

.lab_list > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}