

.carousel-wrapper {
    overflow: hidden;    
    margin: 0px;
    width: 500vw;
    transition: transform 0.5s;
    
    
  }
  
  .carousel-wrapper * {
    box-sizing: border-box;
  }
  
  .carousel {
    
    transform-style: preserve-3d;
  }
  
  .carousel_item {
    
    position: absolute;
    top: 0;
    
    
    margin: auto;
    height: 260px;
    z-index: 100;
    transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
  }
  
  .carousel_item.active {
    opacity: 1;
    position: relative;
    z-index: 900;
  }
  
  .carousel_item.prev,
  .carousel_item.next {
    z-index: 800;
  }
  
  .carousel img {
    float: left;
    
  }

  /*
  .carousel_item.prev {
    transform: translateX(-100%);
  }
  
  .carousel_item.next {
    transform: translateX(100%);
  }
  */

  .carousel img :nth-child(1){

    transform: translateX(0vw);
  
  }

  .carousel img:nth-child(2){
    transform: translateX(100vw);
  }

  .carousel img:nth-child(3){
    transform: translateX(200vw);
  }

  .carousel img:nth-child(4){
    transform: translateX(300vw);
  }

  .carousel img:nth-child(5){
    transform: translateX(400vw);
  }
  .carousel_button--prev,
  .carousel_button--next {
    left: 50px;
    position: absolute;
    top: 50%;
    
    background-color: #fff;
    transform: translateY(-670%) translateX(2300%); 
    border-radius: 50%;
    cursor: pointer;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    transition: all 0.2s ease-in 0s;
    cursor: pointer;
    width: 32px;
    height: 32px;
  }
  
  .carousel_button--prev {
    left: 0;
  }
  
  .carousel_button--next {
    right: 0;
  }
  
  .carousel_button--prev::after,
  .carousel_button--next::after {
    content: ' ';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 54%;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transform: translate(-50%, -50%) rotate(135deg);
  }
  
  .carousel_button--next::after {
    left: 47%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }


* {
    box-sizing: inherit;
}

.style2 li{
    list-style-type: noen;
}

a, div {
    text-decoration: none;
}

body {
    margin: 0px;

}

.header {
    padding: 0px 20px;
    
}



.inner_header {
    margin-top: 10px;
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    min-height: 105px;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    float: right;
    
}

.heade_up {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 48px;
    max-height: 72px;
    max-width: 1160px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
  

}

.header_logo {
    display: flex;
    width: 132px;
    min-height: 35px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    transition: scale 0.3s ease-in-out 0s;

}

.header_logo svg {
    width: 140;
    height: 36;
    
}

.header_up_right{
    display: inline-flex;
    width: auto;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;  
}

.project {
    padding: 16px;
    display: inline-flex;
    width: auto;
    color: rgb(25, 25, 25);
    font-size: 12px;
    line-height: 28px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;

}

.login {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;

}

.login_inner {
    margin-left: 10px;
    position: relative;
    padding: 16px;
    display: inline-flex;
    width: auto;
    min-width: 60px;
    max-height: 45px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(223, 223, 223);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;

}

.profile {
    position: relative;
    padding-top: 3px;
    display: inline-flex;
    width: 24px;
    height: 24px;
    color: rgb(25, 25, 25);
    font-size: 12px;
    line-height: 28px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(223, 223, 223);
    box-sizing: border-box;
    border-radius: 24px;
    font-weight: bold;
    background: rgb(217, 217, 217);

}

.loginii {
    margin-left: 10px;
    display: inline-flex;
    color: rgb(25, 25, 25);
    font-size: 12px;
    line-height: 28px;
    font-weight: bold;
    flex-shrink: 0;

}

.header_down {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1170px;
    min-height: 70px;
    background: rgb(255, 255, 255);
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.category {
   
    position: relative;
    display: flex;
    width: 100%;
    min-height: 56px;
    -webkit-box-align: center;
    align-items: center;
    overflow-x: auto;
    flex-wrap: nowrap;
    user-select: none;

}


.cate1{
    min-height: 56px;
    position: relative;
    margin-right: 18px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: rgb(13, 13, 13);
    cursor: pointer;
    flex-shrink: 0;
    transition: all 0.2s ease-in-out 0s;
}

.style1 {
    overflow: hidden;
    position: relative;
    display: inline-flex;
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 8px 0px 0px;
}

.style2 {
    padding: 0px 6px;
    min-height: 100px;
    position: relative;
    margin-right: 18px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: rgb(13, 13, 13);
    cursor: pointer;
    flex-shrink: 0;
    transition: all 0.2s ease-in-out 0s;
}

.style3 {
    padding: 0px 6px;
    min-height: 56px;
    position: relative;
    margin-right: 18px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: rgb(13, 13, 13);
    cursor: pointer;
    flex-shrink: 0;
    transition: all 0.2s ease-in-out 0s;
}

.search {
    left: 370px;
    position: relative;
    padding: 0px 30px 0px 16px;
    display: inline-flex;
    width: 220px;
    height: 36px;
    background: rgb(243, 243, 243);
    -webkit-box-align: center;
    align-items: center;
    border-radius: 8px;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.3);
}


.search_style1 {
    border: none;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.02em;
    background: rgb(243, 243, 243);
    color: rgb(51, 51, 51);
    appearance: none;
    outline: none;
}

.search_style2 {
    position: absolute;
    right: 10px;
    display: inline-flex;
    width: 20px;
    height: 20px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.style_Q {
    display: flex;
    min-width: 48px;
    transform: scale(0.5);
    cursor: pointer;
}



.style1:hover{
    color:red

}


ul li{
    list-style: none;
}

.style2 ul {
  
    
    min-height: 300px;
    

    top:70px;
    position: absolute;
    padding: 0px;
    margin: 0px;
    display: none;
    z-index: 100000000000;
    
}

.style2:hover ul {
    display: block;
}

.style2 ul li {
    list-style: none;;
    color: black;
    
}

.style2 ul li a {
    color: black;
    
}






.style2:hover{
    color:red
}

.style3:hover {
    color: #A901DB
    
}

    


.search_h2{

width: 100%;
height: 100%;
box-sizing: border-box;
background: rgb(255, 255, 255);
z-index: 10000099;
left: 0px;
top: 0px;
position: fixed;
display: none;
padding: 0px 0px;
}

.search_header2 {
height: 65px;
width: 1032px;
margin: 0px auto;
padding: 0px 0px 0px 1rem;
position: relative;
left: auto;
border-bottom: none;
font-size: 1.28rem;
width: 90%;
padding: 0.75rem 0px;
border: none;

font-weight: bold;
background: rgb(255, 255, 255);
outline: none;
appearance: none !important;

}

.search_bottom2 {
width: 100%;
position: relative;
box-sizing: border-box;
display: flex;
-webkit-box-align: center;
align-items: center;
height: 43px;
}
.search_icon2 {
display: inline-flex;
font-size: 20px;
margin: 0px 16px 0px 0px;
}

.close_icon2 svg {
width: 1em;
height: 1em;

}

.search_icon2 svg {
    width: 1em;
    height: 1em;
    
    }

.SearchHeader2 {
box-sizing: content-box;
width: 90%;
padding: 0.75rem 0px;
border: none;
font-size: 1.38rem;
font-weight: bold;
background: rgb(255, 255, 255);
outline: none;
appearance: none !important;
}

.slide_1 {
height: 280px;
display: block;
min-height: 200px;
}

.x_button2 {
cursor: pointer;
display: inline-block;
min-height: 1em;
outline: none;
border: none;
vertical-align: baseline;
box-shadow: transparent 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.1) 0px 0em 0px 0px inset;
user-select: none;
transition: opacity 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s, box-shadow 0.1s ease 0s, background 0.1s ease 0s;
-webkit-tap-highlight-color: transparent;
margin: 0px 0.25em 0px 0px;
border-radius: 0.285714rem;
text-transform: none;
text-shadow: none;
font-weight: bold;
line-height: 1em;
font-style: normal;
text-align: center;
text-decoration: none;
font-size: 1em;
opacity: 1;
padding: 1em;
background-color: transparent;
color: black;
}

.container_wrapper {
  
    height: 1000px;
    
    position: relative;
    display: block;
    width: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
    background: rgb(255, 255, 255);
}

.container {
    padding: 56px 20px 0px;
    height: 100%;
}

.frontpage_style1 {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    max-width: 1080px;
    padding-bottom: 44px;
    width: 100%;
    margin: 0px auto;
    height: 925px;
/*수상 ㅋㅋ*/
}

.frontpage_style2 {
    width: 704px;
    margin: 0px 67px 0px 0px;

}

.main {
    margin-bottom: 45px;
   
}
.slide1 {
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    list-style: none;
    z-index: 1;
}

.pc-img {
    width: 704px;
    height: 100%;
}

.main_s {
    padding: 0px;
    margin: 0px -6px;
    height: 716px;
   
}

.list_title {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.02em;
    color: rgb(28, 28, 28);
    font-weight: bold;
    margin: 0px 0px 20px;
    padding: 0px 16px;
    

}

.main_ss {
    padding: 0px;
    width: 100%;
}

.section {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.card_wrapper {
    padding-bottom: 40px !important;
    padding: 0px 7px 40px;
    width: 165px;
    height: 235px;
}


.cardperce {
    height: 235px;
    display: block;
    position: relative;

}

.image_wrapper {
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease 0s;
    height: 133px;
}

.image_wrapper a {
    position: relative;
    display:contents;
    top: 0px;
    left: 0px;
    width: 163px;
    height: 131px;
    background: url(https://tumblbug-pci.imgix.net/bb77656dabaaa9b34666c6a8917ee2ac7464a964/326f0b30dedd61b1b4ab402a546ed23ff763b676/83ba1678dc0ec2de7bcf1cded6eb4c736e3e0e22/4312180e-416d-4ef0-960e-777f359ae6e5.jpeg?auto=format%2Ccompress&fit=crop&h=288&lossless=true&w=384&s=a0fb9951702133c0258f1335e35abe4d) center center / cover no-repeat;
    z-index: 8;
    transition: all 0.4s ease 0s;

}

.image_wrapper a::before{
    display: block;
    content: "";
    position: absolute;
    inset: 0px;
    z-index: 1;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.04);
    background: url(https://tumblbug-pci.imgix.net/bb77656dabaaa9b34666c6a8917ee2ac7464a964/326f0b30dedd61b1b4ab402a546ed23ff763b676/83ba1678dc0ec2de7bcf1cded6eb4c736e3e0e22/4312180e-416d-4ef0-960e-777f359ae6e5.jpeg?auto=format%2Ccompress&fit=crop&h=288&lossless=true&w=384&s=a0fb9951702133c0258f1335e35abe4d) center center / cover no-repeat;
    
}


.text_wrapper {
  
    position: relative;
    
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);

}

.sub_text {
    padding: 14px 0px 0px;
    margin: 0px;
    color: rgb(61, 61, 61);
    min-height: 74px;
}

.sub {
    width: 100%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: normal;
    white-space: nowrap;
    padding: 0px 0px 2px;
    font-size: 11px;
    letter-spacing: -0.005em;
    line-height: 16px;
    color: rgb(109, 109, 109);
    margin: 0px;
}

.sub_text::before{
    content: "|";
    display: inline-block;
    margin: 0px 6px;
    position: relative;
    z-index: 1;
    top: -1px;
    font-size: 7px;
    color: rgb(208, 208, 208);
}

.sub_text a {
    color: rgb(109, 109, 109);
}

dt {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-height: 48px;
    word-break: keep-all;
    font-size: 14px;
    letter-spacing: -0.015em;
    line-height: 20px;
    font-weight: 700;
}

strong {
    font-weight: bold;
}
.percent {
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    padding-top: 2px;
    font-size: 13px;
    letter-spacing: -0.015em;
    line-height: 28px;
}


.percentage{
    color: rgb(255, 87, 87);
}

.frontpage_style3 {
    max-width: 314px;
    width: calc((100% - 704px) - 67px);
    margin-bottom: 0px;
    padding: 0px;
}

.frontpage_head {
    padding: 0px;
    margin-bottom: 22px;
}

.frontpage_listtitle {
    margin-right: 8px;
    border-radius: 1px;
    overflow: hidden;
}

.plus {
    color: black;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.025em;
}

.time {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: normal;
    white-space: nowrap;
    font-weight: 400;
    color: rgb(109, 109, 109);
    margin: 2px 0px 0px;
    font-size: 12px !important;
    line-height: 20px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;

}

.toplink{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    right: 200px;
    position:absolute;
    color: rgb(109, 109, 109) !important;
    font-weight: 400;
   
    top: 55px;
    display: flex;

}

.listwithcard {
    width: 100%;
}

.listcomponent {
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
    overflow: hidden;
}

.card-wrapper{
    margin-top: 0px !important;
    display: flex;
    width: 100%;
    min-width: auto;
    height: auto;
    padding: 0px !important;
}

.card_only {
    width: 100%;
}

.cardper {
    display: flex;
    align-items: flex-start;
}

.image-wrapper {
    width: 102px;
    height: 82px;

    position: absolute;
    overflow: hidden;
    transition: all 0.2s ease 0s;
}

.image-wrapper a {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url("https://tumblbug-pci.imgix.net/bb77656dabaaa9b34666c6a8917ee2ac7464a964/5d16f828979128cb192186c8e60bdb3d8620258f/9a5fe0f657d9758a10ffc1db9f29f92206cdcd35/e410f26f-edc9-4319-aa83-bc4a8573ea72.jpeg?auto=format%2Ccompress&fit=crop&h=288&lossless=true&w=384&s=eb338eba2d91ced35c7412d03c6f09a0") center center / cover no-repeat;
    z-index: 8;
    transition: all 0.4s ease 0s;
}

.num {
    position: relative;
    left: 100px;
    width: 43px;
    display: flex;
    flex: 0 0 auto;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 700;
    color: rgba(240, 80, 62, 0.9);
    font-size: 16px !important;
    line-height: 24px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

.text-wrapper{
    flex: 0 1 auto;
    width: calc(100% - 151px);
    left: 100px;
    position: relative;
}

.project_sub {
    padding: 0px 0px 2px;
    margin: 0px;
}

.text-wrapper dl dt {
    word-break: keep-all;
    font-size: 14px;
    letter-spacing: -0.015em;
    line-height: 20px;
}

.project_sub a {
    color: rgb(109, 109, 109);
    word-break: normal;
    white-space: nowrap;
   
    font-size: 11px;
    letter-spacing: -0.005em;
    line-height: 16px;
}

.text-wrapper dt a {
    color: rgb(109, 109, 109);
}

strong {
    font-weight: bold;
}

.text-wrapper dl {
    min-height: 55px;
    padding: 0px;
    margin: 0px;

}

.funper {
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    padding : 0px;
    font-size: 13px;
    letter-spacing: -0.015em;
    line-height: 28px;
}

.percentage_ {
    color: rgb(255, 87, 87);
}

.footer_wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(255, 255, 255);
}

.footer_list_wrapper {
    width: 1080px;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-height: 220px;
    min-height: 178px;
    padding: 0px 16px;
    display: flex;
}

.footer_site {
    flex-direction: row;
    margin-top: 24px;
    display: flex;
}

.site_map {
    margin-top: 0px;
    flex-wrap: nowrap;
    display: flex;
}

.map1 {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    
    min-width: 160px;
    
}

.map1_title {
    display: flex;
    width: 100%;
    max-height: 24px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: rgb(61, 61, 61);

}

.map1_text_wrapper {
    margin-top: 12px;
    font-size: 14px;
    line-height: 22px;
    display: inline-flex;
    color: rgb(109, 109, 109);
    font-weight: 500;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
}

.map1_text {
    position: relative;
    font-size: 14px;
    line-height: 22px;
}

.map2 {
    min-width: 160px;
    margin-top: 0px;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
}

.map2_title{
    display: flex;
    width: 100%;
    max-height: 24px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: rgb(61, 61, 61);
}

.store_button {
    margin-top: 10px;
    width: 140px;
    height: 36px;
    font-size: 14px;
    line-height: 22px;
    position: relative;
    margin-right: 10px;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 500;
    background: rgb(240, 240, 240);
    border-radius: 4px;
    color: rgb(109, 109, 109);
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;

}

.store_buttoninner_wrapper{
    position: relative;
    display: flex;
    margin-left: -10px;
    
    -webkit-box-align: baseline;
    align-items: baseline;
}

.map3 {
    left: 200px;
    min-width: 200px;
    margin-top: 24px;
    position: relative;
    bottom: 25px;
}

.map3_title {
    display: flex;
    width: 100%;
    max-height: 24px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: rgb(61, 61, 61);

}

.map3_text {
    margin-top: 12px;
    display: flex;
    width: 100%;
    max-height: 24px;
    font-size: 12px;
    line-height: 18px;
    color: rgb(109, 109, 109);
}

.map3_button {
    max-width: 180px;
    height: 36px;
    margin-top: 10px;
    display: flex;
    width: 100%;
    
    font-size: 14px;
    line-height: 22px;
    color: rgb(61, 61, 61);
    border: 1px solid rgb(228, 228, 228);
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    font-weight: 500;

}

.footer_company_wrapper {
    margin-top: 18px;
    width: 1080px;
    flex-direction: row;
    border-top: 1px solid rgb(240, 240, 240);
    min-height: 106px;
    padding: 0px 16px;
    display: flex;
    font-size: 13px;
}

.footer_company {
    padding-top: 20px;
    min-width: 210px;
    max-width: 600px;
    max-height: 140px;
    min-height: 106px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    place-content: flex-start;
}

.footer_company_text{
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(61, 61, 61);
}

.footer_company_text strong {
    margin-right: 5px;
    display: flex;
    height: 20px;
    flex-direction: row;
    font-weight: 500;
    line-height: 20px;
    align-items: flex-start;
    white-space: nowrap;
}

.footer_company_text span {
    margin-right: 8px;
    display: flex;
    height: 20px;
    flex-direction: row;
    line-height: 21px;
    align-items: flex-start;
    color: rgb(109, 109, 109);
    white-space: nowrap;
}

.gray_box {
    display: flex;
    width: 100%;
    height: auto;
    min-height: 56px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: rgb(240, 240, 240);
    color: rgb(109, 109, 109);

}

.gray_box_text {
    width: 1080px;
    padding: 10px 16px;
    display: flex;
    
    height: auto;
    font-size: 12px;
    line-height: 18px;
}
